@font-face {
font-family: "Play Time - Demo";
src: url("pt.ttf");
}

@font-face {
font-family: "ObelixPro";
src: url("op.ttf");
}

body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:601px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1255px;
  height:601px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:91px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:109px;
  width:89px;
  height:91px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:80px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:109px;
  width:219px;
  height:80px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78BC40;
  text-align:center;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:132px;
  width:160px;
  height:20px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78BC40;
  text-align:center;
}
#u255_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#78BC40;
  text-align:center;
}
#u255.mouseOver {
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:287px;
  width:321px;
  height:175px;
  overflow:hidden;
}
#u257_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:175px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u257_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:43px;
  background:inherit;
  background-color:rgba(150, 56, 122, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
.u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:43px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
.u259_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:43px;
  background:inherit;
  background-color:rgba(150, 56, 122, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
.u259.selected {
}
.u260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:508px;
  width:230px;
  height:56px;
}
#u261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:56px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:91px;
  width:424px;
  height:70px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:344px;
  top:119px;
  visibility:hidden;
}
#u264_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
  background-image:none;
}
#u264_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:34px;
  width:266px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:90px;
  width:219px;
  height:25px;
}
#u269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:250px;
  width:140px;
  height:25px;
}
#u270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:11px;
  width:24px;
  height:18px;
}
#u271_img.mouseOver {
}
#u271.mouseOver {
  opacity:0.7;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:177px;
  width:219px;
  height:25px;
}
#u273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:93px;
  width:106px;
  height:18px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:180px;
  width:106px;
  height:18px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:138px;
  width:106px;
  height:18px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:135px;
  width:79px;
  height:22px;
}
#u280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u280_input:disabled {
  color:grayText;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:139px;
  width:42px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:139px;
  width:42px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:136px;
  width:79px;
  height:22px;
}
#u285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u285_input:disabled {
  color:grayText;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:90px;
  width:20px;
  height:5px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:133px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:177px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:219px;
  width:221px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:384px;
  width:66px;
  height:28px;
}
#u295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:419px;
  width:426px;
  height:148px;
}
#u296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:148px;
  background-color:transparent;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u297 {
  position:absolute;
  left:344px;
  top:98px;
  visibility:hidden;
}
#u297_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
  background-image:none;
}
#u297_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:28px;
  width:100px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:80px;
  width:101px;
  height:101px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:78px;
  width:100px;
  height:27px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:111px;
  width:200px;
  height:27px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:138px;
  width:222px;
  height:27px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:216px;
  width:160px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:14px;
  width:32px;
  height:24px;
}
#u312_img.mouseOver {
}
#u312.mouseOver {
  opacity:0.7;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:413px;
  top:161px;
  visibility:hidden;
}
#u314_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:429px;
  height:306px;
  background-image:none;
}
#u314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:306px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:306px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:27px;
  width:189px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:140px;
  width:219px;
  height:25px;
}
#u319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:190px;
  width:219px;
  height:25px;
}
#u320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:87px;
  width:219px;
  height:25px;
}
#u321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:249px;
  width:140px;
  height:25px;
}
#u322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:8px;
  width:24px;
  height:20px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:12px;
  width:433px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u325_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u325_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:121px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:64px;
  width:324px;
  height:39px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:121px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:99px;
  width:9px;
  height:39px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:121px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:134px;
  width:335px;
  height:39px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:19px;
  width:66px;
  height:28px;
}
#u338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:93px;
  width:9px;
  height:39px;
  font-family:'Showcard Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:99px;
  width:61px;
  height:39px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:260px;
  width:66px;
  height:28px;
}
#u344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:124px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:212px;
  width:143px;
  height:123px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.u349_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 0.309803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.u349.mouseOver {
}
.u350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:149px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:543px;
  width:80px;
  height:24px;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:119px;
  width:91px;
  height:19px;
}
#u352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u352_input:disabled {
  color:grayText;
}
#u353 {
  position:absolute;
  left:422px;
  top:109px;
  visibility:hidden;
}
#u353_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:490px;
  height:380px;
  background-image:none;
}
#u353_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:380px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:380px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:20px;
  width:211px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:69px;
  width:219px;
  height:25px;
}
#u358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:262px;
  width:160px;
  height:22px;
}
#u359_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u359_input:disabled {
  color:grayText;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:330px;
  width:140px;
  height:25px;
}
#u360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#0FBAEC;
  text-align:center;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:12px;
  width:21px;
  height:18px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:219px;
  width:160px;
  height:22px;
}
#u363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u363_input:disabled {
  color:grayText;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:74px;
  width:39px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:149px;
  width:80px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:222px;
  width:112px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:265px;
  width:37px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#33FF00;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:301px;
  width:221px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#33FF00;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:70px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:145px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:219px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:261px;
  width:33px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF00;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:110px;
  width:257px;
  height:93px;
}
#u382_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:93px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:20px;
  width:216px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:330px;
  width:140px;
  height:25px;
}
#u385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#0FBAEC;
  text-align:center;
}
#u386 {
  position:absolute;
  left:422px;
  top:119px;
  visibility:hidden;
}
#u386_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:426px;
  height:338px;
  background-image:none;
}
#u386_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:338px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:338px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:161px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:27px;
  width:211px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0FBAEC;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:279px;
  width:140px;
  height:25px;
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#0FBAEC;
  text-align:center;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:86px;
  width:219px;
  height:25px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:133px;
  width:127px;
  height:120px;
}
#u393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:120px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:7px;
  width:21px;
  height:18px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:90px;
  width:49px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:169px;
  width:49px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:181px;
  width:68px;
  height:25px;
}
#u400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:28px;
  width:234px;
  height:61px;
}
#u401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:61px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:498px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:91px;
  width:411px;
  height:498px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:162px;
  width:315px;
  height:124px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:472px;
  width:181px;
  height:45px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:371px;
  width:177px;
  height:127px;
  color:#FFFFFF;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:144px;
  width:341px;
  height:32px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u413 {
  position:absolute;
  left:391px;
  top:167px;
  visibility:hidden;
}
#u413_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
  background-image:none;
}
#u413_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:294px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:33px;
  width:306px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:251px;
  width:140px;
  height:25px;
}
#u418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:11px;
  width:24px;
  height:18px;
}
#u419_img.mouseOver {
}
#u419.mouseOver {
  opacity:0.7;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:224px;
  width:247px;
  height:16px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:86px;
  width:356px;
  height:125px;
}
#u423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:125px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
