<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/home/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/home/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- main title (Dynamic Panel) -->
      <div id="u0" class="ax_default" data-label="main title">
        <div id="u0_state0" class="panel_state" data-label="State1" style="">
          <div id="u0_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- buttons (Dynamic Panel) -->
      <div id="u1" class="ax_default" data-label="buttons">
        <div id="u1_state0" class="panel_state" data-label="State1" style="">
          <div id="u1_state0_content" class="panel_state_content">

            <!-- sign up (Rectangle) -->
            <div id="u2" class="ax_default label" data-label="sign up">
              <div id="u2_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u3" class="text">
                <p><span>Sign Up</span></p>
              </div>
            </div>

            <!-- log in (Rectangle) -->
            <div id="u4" class="ax_default label" data-label="log in">
              <div id="u4_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u5" class="text">
                <p><span>Log In</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u6" class="ax_default image">
              <img id="u6_img" class="img " src="images/home/u6.png"/>
              <!-- Unnamed () -->
              <div id="u7" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u8" class="ax_default image">
              <img id="u8_img" class="img " src="images/home/u6.png"/>
              <!-- Unnamed () -->
              <div id="u9" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- are you a... (Dynamic Panel) -->
      <div id="u10" class="ax_default ax_default_hidden" data-label="are you a..." style="display:none; visibility: hidden">
        <div id="u10_state0" class="panel_state" data-label="State1" style="">
          <div id="u10_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u11" class="ax_default image">
              <img id="u11_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u12" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- are you a... (Rectangle) -->
            <div id="u13" class="ax_default label" data-label="are you a...">
              <div id="u13_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u14" class="text">
                <p><span>Are you a...</span></p>
              </div>
            </div>

            <!-- participant (Rectangle) -->
            <div id="u15" class="ax_default label" data-label="participant">
              <div id="u15_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16" class="text">
                <p><span>Participant</span></p>
              </div>
            </div>

            <!-- host (Rectangle) -->
            <div id="u17" class="ax_default label" data-label="host">
              <div id="u17_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u18" class="text">
                <p><span>Host</span></p>
              </div>
            </div>

            <!-- or (Rectangle) -->
            <div id="u19" class="ax_default label" data-label="or">
              <div id="u19_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u20" class="text">
                <p><span>or</span></p>
              </div>
            </div>

            <!-- Unnamed (Left Arrow) -->
            <div id="u21" class="ax_default arrow">
              <img id="u21_img" class="img " src="images/home/u21.png"/>
              <!-- Unnamed () -->
              <div id="u22" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- submit (Rectangle) -->
      <div id="u23" class="ax_default button ax_default_hidden" data-label="submit" style="display:none; visibility: hidden">
        <div id="u23_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u24" class="text">
          <p><span>BUTTON</span></p>
        </div>
      </div>

      <!-- login 2 (Dynamic Panel) -->
      <div id="u25" class="ax_default ax_default_hidden" data-label="login 2" style="display:none; visibility: hidden">
        <div id="u25_state0" class="panel_state" data-label="State1" style="">
          <div id="u25_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u26" class="ax_default image">
              <img id="u26_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u27" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- submit (HTML Button) -->
            <div id="u28" class="ax_default html_button" data-label="submit">
              <input id="u28_input" type="submit" value="Submit"/>
            </div>

            <!-- username (Text Field) -->
            <div id="u29" class="ax_default text_field" data-label="username">
              <input id="u29_input" type="text" value=""/>
            </div>

            <!-- password (Text Field) -->
            <div id="u30" class="ax_default text_field" data-label="password">
              <input id="u30_input" type="text" value=""/>
            </div>

            <!-- log in (Rectangle) -->
            <div id="u31" class="ax_default label" data-label="log in">
              <div id="u31_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u32" class="text">
                <p><span>Log In</span></p>
              </div>
            </div>

            <!-- event code (Text Field) -->
            <div id="u33" class="ax_default text_field" data-label="event code">
              <input id="u33_input" type="text" value=""/>
            </div>

            <!-- Unnamed (Left Arrow) -->
            <div id="u34" class="ax_default arrow">
              <img id="u34_img" class="img " src="images/home/u21.png"/>
              <!-- Unnamed () -->
              <div id="u35" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- create a profile (Dynamic Panel) -->
      <div id="u36" class="ax_default ax_default_hidden" data-label="create a profile" style="display:none; visibility: hidden">
        <div id="u36_state0" class="panel_state" data-label="State1" style="">
          <div id="u36_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u37" class="ax_default image">
              <img id="u37_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u38" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- create a profile (Rectangle) -->
            <div id="u39" class="ax_default label" data-label="create a profile">
              <div id="u39_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u40" class="text">
                <p><span>Create a Profile</span></p>
              </div>
            </div>

            <!-- username (Text Field) -->
            <div id="u41" class="ax_default text_field" data-label="username">
              <input id="u41_input" type="text" value=""/>
            </div>

            <!-- password (Text Field) -->
            <div id="u42" class="ax_default text_field" data-label="password">
              <input id="u42_input" type="text" value=""/>
            </div>

            <!-- event code (Text Field) -->
            <div id="u43" class="ax_default text_field" data-label="event code">
              <input id="u43_input" type="text" value=""/>
            </div>

            <!-- more stuff? (Text Field) -->
            <div id="u44" class="ax_default text_field" data-label="more stuff?">
              <input id="u44_input" type="text" value=""/>
            </div>

            <!-- submit (HTML Button) -->
            <div id="u45" class="ax_default html_button" data-label="submit">
              <input id="u45_input" type="submit" value="Submit"/>
            </div>

            <!-- Unnamed (Left Arrow) -->
            <div id="u46" class="ax_default arrow">
              <img id="u46_img" class="img " src="images/home/u21.png"/>
              <!-- Unnamed () -->
              <div id="u47" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- are you a... (create profile) (Dynamic Panel) -->
      <div id="u48" class="ax_default ax_default_hidden" data-label="are you a... (create profile)" style="display:none; visibility: hidden">
        <div id="u48_state0" class="panel_state" data-label="State1" style="">
          <div id="u48_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u49" class="ax_default image">
              <img id="u49_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u50" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- are you a... (Rectangle) -->
            <div id="u51" class="ax_default label" data-label="are you a...">
              <div id="u51_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u52" class="text">
                <p><span>Are you a...</span></p>
              </div>
            </div>

            <!-- participant (Rectangle) -->
            <div id="u53" class="ax_default label" data-label="participant">
              <div id="u53_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u54" class="text">
                <p><span>Participant</span></p>
              </div>
            </div>

            <!-- host (Rectangle) -->
            <div id="u55" class="ax_default label" data-label="host">
              <div id="u55_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u56" class="text">
                <p><span>Host</span></p>
              </div>
            </div>

            <!-- or (Rectangle) -->
            <div id="u57" class="ax_default label" data-label="or">
              <div id="u57_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u58" class="text">
                <p><span>or</span></p>
              </div>
            </div>

            <!-- Unnamed (Left Arrow) -->
            <div id="u59" class="ax_default arrow">
              <img id="u59_img" class="img " src="images/home/u21.png"/>
              <!-- Unnamed () -->
              <div id="u60" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
