<!DOCTYPE html>
<html>
  <head>
    <style>
        @font-face {
            font-family: "Play Time - Demo";
            src: url("pt.ttf");
        }
        @font-face {
            font-family: "ObelixPro";
            src: url("op.ttf");
        }
    </style>
    <title>Host View</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/host_view/styles.css" type="text/css" rel="stylesheet"/>
    <link href="" type="text/css" rel="stylesheet"/>
    <link href="" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/host.js"></script>
    <script src="data/document.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAtlo66pxNfHMxMVwL7MXNkblK1lanJgk4",
    authDomain: "project6c613.firebaseapp.com",
    databaseURL: "https://project6c613.firebaseio.com",
    projectId: "project6c613",
    storageBucket: "project6c613.appspot.com",
    messagingSenderId: "1082078319138"
  };
  firebase.initializeApp(config);
</script>

    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/host_view/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u249" class="ax_default image">
        <img id="u249_img" class="img " src="images/host_view/u249.png"/>
        <!-- Unnamed () -->
        <div id="u250" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- profile image (Image) -->
      <div id="u251" class="ax_default image" data-label="profile image">
        <img id="u251_img" class="img " src="images/host_view/profile_image_u251.png"/>
        <!-- Unnamed () -->
        <div id="u252" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- username bubble (Image) -->
      <div id="u253" class="ax_default image" data-label="username bubble">
        <img id="u253_img" class="img " src="images/player_view/username_bubble_u110.png"/>
        <!-- Unnamed () -->
        <div id="u254" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- username (Rectangle) -->
      <div id="u255" class="ax_default label" data-label="username">
        <div id="u255_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u256" class="text">
          <p><span>Atari</span></p>
        </div>
      </div>

      <!-- events (Dynamic Panel) -->
      <div id="u257" class="ax_default" data-label="events" selectiongroup="events">
        <div id="u257_state0" class="panel_state" data-label="State1" style="">
          <div id="u257_state0_content" class="panel_state_content">

            <!-- Unnamed (Repeater) -->
            <div id="u258" class="ax_default">
              <script id="u258_script" type="axure-repeater-template">

                <!-- Unnamed (Rectangle) -->
                <div id="u259" class="ax_default box_1 u259" selectiongroup="events">
                  <div id="u259_div" class="u259_div"></div>
                  <!-- Unnamed () -->
                  <div id="u260" class="u260 text">
                    <p><span>Event Name</span></p>
                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
      </div>

      <!-- create new event (HTML Button) -->
      <div id="u261" class="ax_default html_button" data-label="create new event">
        <input id="u261_input" type="submit" value="Create New Event"/>
      </div>

      <!-- click on an event (Rectangle) -->
      <div id="u262" class="ax_default label" data-label="click on an event">
        <div id="u262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u263" class="text">
          <p><span>Click on an event to see more</span></p>
        </div>
      </div>

      <!-- create a new event panel (Dynamic Panel) -->
      <div id="u264" class="ax_default ax_default_hidden" data-label="create a new event panel" style="display:none; visibility: hidden">
        <div id="u264_state0" class="panel_state" data-label="State1" style="">
          <div id="u264_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u265" class="ax_default image">
              <img id="u265_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u266" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- create a new event (Rectangle) -->
            <div id="u267" class="ax_default label" data-label="create a new event">
              <div id="u267_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u268" class="text">
                <p><span>Create a new event</span></p>
              </div>
            </div>

            <!-- event name (Text Field) -->
            <div id="u269" class="ax_default text_field" data-label="event name">
              <input id="u269_input" type="text" value=""/>
            </div>

            <!-- submit (HTML Button) -->
            <div id="u270" class="ax_default html_button" data-label="submit">
              <input id="u270_input" type="submit" value="Create"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u271" class="ax_default image">
              <img id="u271_img" class="img " src="images/player_view/u132.png"/>
              <!-- Unnamed () -->
              <div id="u272" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- event code (Text Field) -->
            <div id="u273" class="ax_default text_field" data-label="event code">
              <input id="u273_input" type="text" value=""/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u274" class="ax_default label">
              <div id="u274_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u275" class="text">
                <p><span>Event Name</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u276" class="ax_default label">
              <div id="u276_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u277" class="text">
                <p><span>Event Code</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u278" class="ax_default label">
              <div id="u278_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u279" class="text">
                <p><span>Duration</span></p>
              </div>
            </div>

            <!-- hour (Droplist) -->
            <div id="u280" class="ax_default droplist" data-label="hour">
              <select id="u280_input">
                <option value=" ">&nbsp;</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u281" class="ax_default label">
              <div id="u281_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u282" class="text">
                <p><span>HR</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u283" class="ax_default label">
              <div id="u283_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u284" class="text">
                <p><span>Min</span></p>
              </div>
            </div>

            <!-- minute (Droplist) -->
            <div id="u285" class="ax_default droplist" data-label="minute">
              <select id="u285_input">
                <option value=" ">&nbsp;</option>
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
              </select>
            </div>

            <!-- name star (Rectangle) -->
            <div id="u286" class="ax_default label ax_default_hidden" data-label="name star" style="display:none; visibility: hidden">
              <div id="u286_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u287" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- duration star (Rectangle) -->
            <div id="u288" class="ax_default label ax_default_hidden" data-label="duration star" style="display:none; visibility: hidden">
              <div id="u288_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u289" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- code star (Rectangle) -->
            <div id="u290" class="ax_default label ax_default_hidden" data-label="code star" style="display:none; visibility: hidden">
              <div id="u290_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u291" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- please fill out fields (Rectangle) -->
            <div id="u292" class="ax_default label ax_default_hidden" data-label="please fill out fields" style="display:none; visibility: hidden">
              <div id="u292_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u293" class="text">
                <p><span>PLEASE FILL OUT EVERY FIELD</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- announcements panel (Group) -->
      <div id="u294" class="ax_default ax_default_hidden" data-label="announcements panel" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- send button (HTML Button) -->
        <div id="u295" class="ax_default html_button" data-label="send button">
          <input id="u295_input" type="submit" value="Send"/>
        </div>

        <!-- announcements (Text Area) -->
        <div id="u296" class="ax_default text_area" data-label="announcements">
          <textarea id="u296_input"></textarea>
        </div>
      </div>

      <!-- host profile panel (Dynamic Panel) -->
      <div id="u297" class="ax_default ax_default_hidden" data-label="host profile panel" style="display:none; visibility: hidden">
        <div id="u297_state0" class="panel_state" data-label="State1" style="">
          <div id="u297_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u298" class="ax_default image">
              <img id="u298_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u299" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- profile title (Rectangle) -->
            <div id="u300" class="ax_default label" data-label="profile title">
              <div id="u300_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u301" class="text">
                <p><span>Profile</span></p>
              </div>
            </div>

            <!-- profile image (Image) -->
            <div id="u302" class="ax_default image" data-label="profile image">
              <img id="u302_img" class="img " src="images/player_view/profile_image_u120.png"/>
              <!-- Unnamed () -->
              <div id="u303" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- profile - username (Rectangle) -->
            <div id="u304" class="ax_default label" data-label="profile - username">
              <div id="u304_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u305" class="text">
                <p><span>Atari</span></p>
              </div>
            </div>

            <!-- keys collected (Rectangle) -->
            <div id="u306" class="ax_default label" data-label="keys collected">
              <div id="u306_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u307" class="text">
                <p><span>5 workshops hosted</span></p>
              </div>
            </div>

            <!-- badges earned (Rectangle) -->
            <div id="u308" class="ax_default label" data-label="badges earned">
              <div id="u308_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u309" class="text">
                <p><span>42 badges given</span></p>
              </div>
            </div>

            <!-- badges (Rectangle) -->
            <div id="u310" class="ax_default label" data-label="badges">
              <div id="u310_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u311" class="text">
                <p><span>Other info?</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u312" class="ax_default image">
              <img id="u312_img" class="img " src="images/player_view/u132.png"/>
              <!-- Unnamed () -->
              <div id="u313" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- edit event details panel (Dynamic Panel) -->
      <div id="u314" class="ax_default ax_default_hidden" data-label="edit event details panel" style="display:none; visibility: hidden">
        <div id="u314_state0" class="panel_state" data-label="State1" style="">
          <div id="u314_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u315" class="ax_default image">
              <img id="u315_img" class="img " src="images/host_view/u315.png"/>
              <!-- Unnamed () -->
              <div id="u316" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- profile title (Rectangle) -->
            <div id="u317" class="ax_default label" data-label="profile title">
              <div id="u317_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u318" class="text">
                <p><span>Event Details</span></p>
              </div>
            </div>

            <!-- duration (Text Field) -->
            <div id="u319" class="ax_default text_field" data-label="duration">
              <input id="u319_input" type="text" value=""/>
            </div>

            <!-- event code (Text Field) -->
            <div id="u320" class="ax_default text_field" data-label="event code">
              <input id="u320_input" type="text" value=""/>
            </div>

            <!-- event name (Text Field) -->
            <div id="u321" class="ax_default text_field" data-label="event name">
              <input id="u321_input" type="text" value=""/>
            </div>

            <!-- save (HTML Button) -->
            <div id="u322" class="ax_default html_button" data-label="save">
              <input id="u322_input" type="submit" value="Save"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u323" class="ax_default image">
              <img id="u323_img" class="img " src="images/host_view/u323.png"/>
              <!-- Unnamed () -->
              <div id="u324" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- event details panel (Dynamic Panel) -->
      <div id="u325" class="ax_default ax_default_hidden" data-label="event details panel" style="display:none; visibility: hidden">
        <div id="u325_state0" class="panel_state" data-label="State1" style="">
          <div id="u325_state0_content" class="panel_state_content">

            <!-- event name label (Rectangle) -->
            <div id="u326" class="ax_default label" data-label="event name label">
              <div id="u326_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u327" class="text">
                <p><span style="font-family:'';font-weight:400;">Event name</span><span style="font-family:'Segoe Print';font-weight:400;">:</span></p>
              </div>
            </div>

            <!-- event name (Rectangle) -->
            <div id="u328" class="ax_default label" data-label="event name">
              <div id="u328_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u329" class="text">
                <p><span>event name label</span></p>
              </div>
            </div>

            <!-- duration label (Rectangle) -->
            <div id="u330" class="ax_default label" data-label="duration label">
              <div id="u330_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u331" class="text">
                <p><span style="font-family:'';font-weight:400;">Duration</span><span style="font-family:'Segoe Print';font-weight:400;">:</span></p>
              </div>
            </div>

            <!-- event hours (Rectangle) -->
            <div id="u332" class="ax_default label" data-label="event hours">
              <div id="u332_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u333" class="text">
                <p><span>5</span></p>
              </div>
            </div>

            <!-- event code label (Rectangle) -->
            <div id="u334" class="ax_default label" data-label="event code label">
              <div id="u334_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u335" class="text">
                <p><span style="font-family:'';font-weight:400;">event code</span><span style="font-family:'Segoe Print';font-weight:400;">:</span></p>
              </div>
            </div>

            <!-- event code (Rectangle) -->
            <div id="u336" class="ax_default label" data-label="event code">
              <div id="u336_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u337" class="text">
                <p><span>event code label</span></p>
              </div>
            </div>

            <!-- create badge (HTML Button) -->
            <div id="u338" class="ax_default html_button" data-label="create badge">
              <input id="u338_input" type="submit" value="Edit"/>
            </div>

            <!-- : (Rectangle) -->
            <div id="u339" class="ax_default label" data-label=":">
              <div id="u339_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u340" class="text">
                <p><span>:</span></p>
              </div>
            </div>

            <!-- event minutes (Rectangle) -->
            <div id="u341" class="ax_default label" data-label="event minutes">
              <div id="u341_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u342" class="text">
                <p><span>55</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- badges panel (Group) -->
      <div id="u343" class="ax_default ax_default_hidden" data-label="badges panel" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- create badge (HTML Button) -->
        <div id="u344" class="ax_default html_button" data-label="create badge">
          <input id="u344_input" type="submit" value="Edit"/>
        </div>

        <!-- Unnamed (Placeholder) -->
        <div id="u345" class="ax_default placeholder">
          <img id="u345_img" class="img " src="images/host_view/u345.png"/>
          <!-- Unnamed () -->
          <div id="u346" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- questions panel (Group) -->
      <div id="u347" class="ax_default ax_default_hidden" data-label="questions panel" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- questions (Repeater) -->
        <div id="u348" class="ax_default ax_default_hidden" data-label="questions" style="display:none; visibility: hidden">
          <script id="u348_script" type="axure-repeater-template" data-label="questions">

            <!-- Unnamed (Rectangle) -->
            <div id="u349" class="ax_default box_1 u349">
              <div id="u349_div" class="u349_div"></div>
              <!-- Unnamed () -->
              <div id="u350" class="u350 text">
                <p><span>test</span></p>
              </div>
            </div>
          </script>
        </div>

        <!-- add question (HTML Button) -->
        <div id="u351" class="ax_default html_button ax_default_hidden" data-label="add question" style="display:none; visibility: hidden">
          <input id="u351_input" type="submit" value="Add"/>
        </div>

        <!-- questions filter (Droplist) -->
        <div id="u352" class="ax_default droplist" data-label="questions filter">
          <select id="u352_input">
            <option value="All">All</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Dining Room">Dining Room</option>
            <option value="Bedroom">Bedroom</option>
            <option value="Arcade">Arcade</option>
            <option value="Foyer">Foyer</option>
            <option value="Theater">Theater</option>
          </select>
        </div>
      </div>

      <!-- add a question (Dynamic Panel) -->
      <div id="u353" class="ax_default ax_default_hidden" data-label="add a question" style="display:none; visibility: hidden">
        <div id="u353_state0" class="panel_state" data-label="State1" style="">
          <div id="u353_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u354" class="ax_default image">
              <img id="u354_img" class="img " src="images/host_view/u354.png"/>
              <!-- Unnamed () -->
              <div id="u355" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- add a question (Rectangle) -->
            <div id="u356" class="ax_default label" data-label="add a question">
              <div id="u356_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u357" class="text">
                <p><span>add a Question</span></p>
              </div>
            </div>

            <!-- name field (Text Field) -->
            <div id="u358" class="ax_default text_field" data-label="name field">
              <input id="u358_input" type="text" value=""/>
            </div>

            <!-- room (Droplist) -->
            <div id="u359" class="ax_default droplist" data-label="room">
              <select id="u359_input">
                <option value=" ">&nbsp;</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Dining Room">Dining Room</option>
                <option value="Bedroom">Bedroom</option>
                <option value="Arcade">Arcade</option>
                <option value="Foyer">Foyer</option>
                <option value="Theater">Theater</option>
              </select>
            </div>

            <!-- save (HTML Button) -->
            <div id="u360" class="ax_default html_button" data-label="save">
              <input id="u360_input" type="submit" value="Save"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u361" class="ax_default image">
              <img id="u361_img" class="img " src="images/host_view/u361.png"/>
              <!-- Unnamed () -->
              <div id="u362" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- difficulty (Droplist) -->
            <div id="u363" class="ax_default droplist" data-label="difficulty">
              <select id="u363_input">
                <option value=" ">&nbsp;</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u364" class="ax_default label">
              <div id="u364_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u365" class="text">
                <p><span>Name</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u366" class="ax_default label">
              <div id="u366_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u367" class="text">
                <p><span>Description</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u368" class="ax_default label">
              <div id="u368_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u369" class="text">
                <p><span>Difficulty Level</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u370" class="ax_default label">
              <div id="u370_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u371" class="text">
                <p><span>Room</span></p>
              </div>
            </div>

            <!-- please fill out fields (Rectangle) -->
            <div id="u372" class="ax_default label ax_default_hidden" data-label="please fill out fields" style="display:none; visibility: hidden">
              <div id="u372_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u373" class="text">
                <p><span>PLEASE FILL OUT EVERY FIELD</span></p>
              </div>
            </div>

            <!-- name star (Rectangle) -->
            <div id="u374" class="ax_default label ax_default_hidden" data-label="name star" style="display:none; visibility: hidden">
              <div id="u374_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u375" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- description star (Rectangle) -->
            <div id="u376" class="ax_default label ax_default_hidden" data-label="description star" style="display:none; visibility: hidden">
              <div id="u376_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u377" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- difficulty star (Rectangle) -->
            <div id="u378" class="ax_default label ax_default_hidden" data-label="difficulty star" style="display:none; visibility: hidden">
              <div id="u378_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u379" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- room star (Rectangle) -->
            <div id="u380" class="ax_default label ax_default_hidden" data-label="room star" style="display:none; visibility: hidden">
              <div id="u380_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u381" class="text">
                <p><span>*</span></p>
              </div>
            </div>

            <!-- description field (Text Area) -->
            <div id="u382" class="ax_default text_area" data-label="description field">
              <textarea id="u382_input"></textarea>
            </div>

            <!-- edit a question (Rectangle) -->
            <div id="u383" class="ax_default label ax_default_hidden" data-label="edit a question" style="display:none; visibility: hidden">
              <div id="u383_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u384" class="text">
                <p><span>edit a Question</span></p>
              </div>
            </div>

            <!-- save (edit) (HTML Button) -->
            <div id="u385" class="ax_default html_button ax_default_hidden" data-label="save (edit)" style="display:none; visibility: hidden">
              <input id="u385_input" type="submit" value="Save"/>
            </div>
          </div>
        </div>
      </div>

      <!-- create a badge panel (Dynamic Panel) -->
      <div id="u386" class="ax_default ax_default_hidden" data-label="create a badge panel" style="display:none; visibility: hidden">
        <div id="u386_state0" class="panel_state" data-label="State1" style="">
          <div id="u386_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u387" class="ax_default image">
              <img id="u387_img" class="img " src="images/host_view/u354.png"/>
              <!-- Unnamed () -->
              <div id="u388" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- create a badge (Rectangle) -->
            <div id="u389" class="ax_default label" data-label="create a badge">
              <div id="u389_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u390" class="text">
                <p><span>Create a Badge</span></p>
              </div>
            </div>

            <!-- save (HTML Button) -->
            <div id="u391" class="ax_default html_button" data-label="save">
              <input id="u391_input" type="submit" value="Save"/>
            </div>

            <!-- badge name (Text Field) -->
            <div id="u392" class="ax_default text_field" data-label="badge name">
              <input id="u392_input" type="text" value=""/>
            </div>

            <!-- badge info (Text Field) -->
            <div id="u393" class="ax_default text_field" data-label="badge info">
              <input id="u393_input" type="text" value=""/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u394" class="ax_default image">
              <img id="u394_img" class="img " src="images/host_view/u361.png"/>
              <!-- Unnamed () -->
              <div id="u395" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u396" class="ax_default label">
              <div id="u396_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u397" class="text">
                <p><span>Name</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u398" class="ax_default label">
              <div id="u398_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u399" class="text">
                <p><span>Image</span></p>
              </div>
            </div>

            <!-- save (HTML Button) -->
            <div id="u400" class="ax_default html_button" data-label="save">
              <input id="u400_input" type="submit" value="UPLOAD"/>
            </div>
          </div>
        </div>
      </div>

      <!-- go live! (HTML Button) -->
      <div id="u401" class="ax_default html_button" data-label="go live!">
        <input id="u401_input" type="submit" value="Go Live!"/>
      </div>

      <!-- live panel (Group) -->
      <div id="u402" class="ax_default ax_default_hidden" data-label="live panel" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- live background (Image) -->
        <div id="u403" class="ax_default image" data-label="live background">
          <img id="u403_img" class="img " src="images/host_view/live_background_u403.png"/>
          <!-- Unnamed () -->
          <div id="u404" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- title (Rectangle) -->
        <div id="u405" class="ax_default label" data-label="title">
          <div id="u405_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u406" class="text">
            <p><span style="font-family:'';font-weight:700;font-size:20px;color:#00CCFF;">is live</span><span style="font-family:'Segoe Print Bold', 'Segoe Print Regular', 'Segoe Print';font-weight:700;font-size:20px;color:#00CCFF;">!</span></p><p><span style="font-family:'';font-weight:410;font-size:18px;"><br></span></p><p><span style="font-family:'';font-weight:410;font-size:18px;">No changes can be made to the event</span><span style="font-family:'Segoe Print';font-weight:400;font-size:18px;">.</span></p><p><span style="font-family:'';font-weight:410;font-size:18px;"><br></span></p><p><span style="font-family:'';font-weight:410;font-size:18px;">Announcements can be sent until the event is over</span><span style="font-family:'Segoe Print';font-weight:400;font-size:18px;">.</span></p>
          </div>
        </div>

        <!-- hr min (Rectangle) -->
        <div id="u407" class="ax_default label" data-label="hr min">
          <div id="u407_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u408" class="text">
            <p><span>hr&nbsp; &nbsp; &nbsp; min</span></p>
          </div>
        </div>

        <!-- time (Rectangle) -->
        <div id="u409" class="ax_default label" data-label="time">
          <div id="u409_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u410" class="text">
            <p><span style="font-family:'';font-weight:410;font-size:72px;">00</span><span style="font-family:'';font-weight:410;font-size:20px;"> </span><span style="font-family:'Segoe Print';font-weight:400;font-size:72px;">:</span><span style="font-family:'';font-weight:410;font-size:20px;"> </span><span style="font-family:'';font-weight:410;font-size:72px;">00</span></p>
          </div>
        </div>

        <!-- event name (Rectangle) -->
        <div id="u411" class="ax_default label" data-label="event name">
          <div id="u411_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u412" class="text">
            <p><span>EVENTNAME</span></p>
          </div>
        </div>
      </div>

      <!-- add announcement (Dynamic Panel) -->
      <div id="u413" class="ax_default ax_default_hidden" data-label="add announcement" style="display:none; visibility: hidden">
        <div id="u413_state0" class="panel_state" data-label="State1" style="">
          <div id="u413_state0_content" class="panel_state_content">

            <!-- Unnamed (Image) -->
            <div id="u414" class="ax_default image">
              <img id="u414_img" class="img " src="images/home/u11.png"/>
              <!-- Unnamed () -->
              <div id="u415" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- create a new event (Rectangle) -->
            <div id="u416" class="ax_default label" data-label="create a new event">
              <div id="u416_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u417" class="text">
                <p><span>Add an Announcement</span></p>
              </div>
            </div>

            <!-- send (HTML Button) -->
            <div id="u418" class="ax_default html_button" data-label="send">
              <input id="u418_input" type="submit" value="Send"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u419" class="ax_default image">
              <img id="u419_img" class="img " src="images/player_view/u132.png"/>
              <!-- Unnamed () -->
              <div id="u420" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- cannot be blank (Rectangle) -->
            <div id="u421" class="ax_default label ax_default_hidden" data-label="cannot be blank" style="display:none; visibility: hidden">
              <div id="u421_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u422" class="text">
                <p><span>An announcement cannot be blank</span></p>
              </div>
            </div>

            <!-- announcement (Text Area) -->
            <div id="u423" class="ax_default text_area" data-label="announcement">
              <textarea id="u423_input"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
