<!DOCTYPE html>
<html>
  <head>
    <title>Player View</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/player_view/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/player_view/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u61" class="ax_default">
        <div id="u61_state0" class="panel_state" data-label="State1" style="">
          <div id="u61_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u62" class="ax_default label">
        <div id="u62_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u63" class="text">
          <p><span style="font-family:'Play Time - Demo';">00 </span><span style="font-family:'Comic Sans MS';">:</span><span style="font-family:'Play Time - Demo';"> 00</span></p><p><span style="font-family:'Play Time - Demo';"><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u64" class="ax_default label">
        <div id="u64_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u65" class="text">
          <p><span>hr&nbsp; &nbsp; &nbsp; min</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u66" class="ax_default text_area">
        <textarea id="u66_input">1&nbsp; &nbsp;&nbsp; Kronos
2&nbsp; &nbsp;&nbsp; Vidar&nbsp; &nbsp;&nbsp; 
3&nbsp; &nbsp;&nbsp; blakeks4711
4&nbsp; &nbsp;&nbsp; Spaulding&nbsp; 
5&nbsp; &nbsp;&nbsp; Pedro&nbsp; &nbsp; &nbsp; 
6&nbsp; &nbsp;&nbsp; VoidMercy 
7&nbsp; &nbsp;&nbsp; Dch&nbsp; &nbsp; &nbsp; &nbsp; 
8&nbsp; &nbsp;&nbsp; tanix&nbsp; &nbsp; &nbsp; 
9&nbsp; &nbsp;&nbsp; RedCode&nbsp;&nbsp; 
10&nbsp; &nbsp; bakkka&nbsp; &nbsp; 
11&nbsp; &nbsp;&nbsp; zipzop&nbsp; &nbsp; 
12&nbsp; &nbsp; lamchcl&nbsp;&nbsp; 
13&nbsp; &nbsp; Entropy&nbsp;&nbsp; 
14&nbsp; &nbsp; thekid&nbsp; &nbsp;&nbsp; 
15&nbsp; &nbsp; Superior&nbsp;&nbsp; 
16&nbsp; &nbsp; 50530k&nbsp; &nbsp; 
17&nbsp; &nbsp; landofleet&nbsp; 
18&nbsp; &nbsp; aldo&nbsp;&nbsp; 
19&nbsp; &nbsp; abhiar 
20&nbsp;&nbsp; daninnm&nbsp;&nbsp; 
21&nbsp; &nbsp; vsureel 
22&nbsp;&nbsp; delirante&nbsp;&nbsp; </textarea>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u67" class="ax_default box_2">
        <div id="u67_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u68" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u69" class="ax_default image">
        <img id="u69_img" class="img " src="images/player_view/u69.png"/>
        <!-- Unnamed () -->
        <div id="u70" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u71" class="ax_default image">
        <img id="u71_img" class="img " src="images/player_view/u71.png"/>
        <!-- Unnamed () -->
        <div id="u72" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u73" class="ax_default image">
        <img id="u73_img" class="img " src="images/player_view/u73.png"/>
        <!-- Unnamed () -->
        <div id="u74" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u75" class="ax_default label">
        <div id="u75_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u76" class="text">
          <p><span>Atari</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u77" class="ax_default text_area">
        <textarea id="u77_input">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut

tincidunt ex et commodo posuere sem nisi pharetra ligula et dignissim urna lacus sed tortor 

Donec congue vestibulum magna 

Class aptent taciti sociosqu ad litora torquent per conubia 

nostra per inceptos himenaeos Mauris vitae metus non sapien gravida fringilla Curabitur 

commodo arcu et enim semper dapibus Vestibulum ante ipsum

 primis in faucibus orci luctus et ultrices posuere cubilia Curae Praesent sagittis dolor lobortis eros consequat dignissim Sed vitae nibh ut est vehicula convallis. Proin vel molestie massa. Morbi cursus accumsan urna, ac pretium purus dictum sed. Vestibulum mi erat, convallis a arcu ac, iaculis interdum nisi. Nulla eu porttitor velit. Vivamus ornare mollis tellus a blandit. Aliquam lorem lorem, efficitur sed porta id, vehicula in nunc</textarea>
      </div>
    </div>
  </body>
</html>
