@font-face {
font-family: "Play Time - Demo";
src: url("pt.ttf");
}

@font-face {
font-family: "ObelixPro";
src: url("op.ttf");
}

body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-6px;
  width:1251px;
  height:608px;
  overflow:hidden;
}
#u61_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:608px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/player_view/u61_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u61_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:50px;
  width:255px;
  height:114px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:111px;
  width:181px;
  height:62px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:243px;
  width:208px;
  height:302px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:302px;
  background-color:transparent;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:295px;
  height:101px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:27px;
  width:323px;
  height:40px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:86px;
  width:88px;
  height:88px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:78px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:79px;
  width:137px;
  height:78px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:105px;
  width:46px;
  height:20px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
}
#u75_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
}
#u75.mouseOver {
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:236px;
  width:298px;
  height:322px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:322px;
  background-color:transparent;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:449px;
  width:626px;
  height:109px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:109px;
  background-color:transparent;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79 {
  position:fixed;
  left:50%;
  margin-left:-283.5px;
  top:79px;
  visibility:hidden;
}
#u79_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
  background-image:none;
}
#u79_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:28px;
  width:100px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:80px;
  width:101px;
  height:101px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo Bold', 'Play Time - Demo Regular', 'Play Time - Demo';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:78px;
  width:100px;
  height:27px;
  font-family:'Play Time - Demo Bold', 'Play Time - Demo Regular', 'Play Time - Demo';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:108px;
  width:163px;
  height:27px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:134px;
  width:222px;
  height:27px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:159px;
  width:222px;
  height:27px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:212px;
  width:103px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:14px;
  width:32px;
  height:24px;
}
#u96_img.mouseOver {
}
#u96.mouseOver {
  opacity:0.7;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:fixed;
  left:50%;
  margin-left:-232.5px;
  top:336px;
  width:465px;
  height:160px;
  overflow:hidden;
  visibility:hidden;
}
#u98_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:160px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u98_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:67px;
  height:63px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:67px;
  height:63px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:67px;
  height:63px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:67px;
  height:63px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:87px;
  width:67px;
  height:63px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:87px;
  width:67px;
  height:63px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:87px;
  width:67px;
  height:63px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:67px;
  height:63px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:177px;
  width:67px;
  height:63px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:387px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:3px;
  width:539px;
  height:387px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:92px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:35px;
  width:172px;
  height:92px;
  opacity:0;
}
#u122_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:92px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122.mouseOver {
  opacity:0.37;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:72px;
  width:63px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124.mouseOver {
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:84px;
  width:53px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u127_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u127.mouseOver {
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:116px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:35px;
  width:192px;
  height:116px;
  opacity:0;
}
#u129_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:116px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129.mouseOver {
  opacity:0.37;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:133px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:49px;
  width:88px;
  height:133px;
  opacity:0;
}
#u132_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:133px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132.mouseOver {
  opacity:0.37;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:107px;
  width:57px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u134_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u134.mouseOver {
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:98px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:154px;
  width:188px;
  height:98px;
  opacity:0;
}
#u137_img.mouseOver {
}
#u137.mouseOver {
  opacity:0.37;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:194px;
  width:68px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139.mouseOver {
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:119px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:254px;
  width:175px;
  height:119px;
  opacity:0;
}
#u142_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:119px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142.mouseOver {
  opacity:0.37;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:305px;
  width:94px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144.mouseOver {
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:161px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:186px;
  width:105px;
  height:161px;
  opacity:0;
}
#u147_img.mouseOver {
}
#u147.mouseOver {
  opacity:0.37;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:258px;
  width:44px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u149_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u149.mouseOver {
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:116px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:131px;
  width:189px;
  height:116px;
  opacity:0;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
  opacity:0.37;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:180px;
  width:58px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u154.mouseOver {
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:123px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:250px;
  width:189px;
  height:123px;
  opacity:0;
}
#u157_img.mouseOver {
}
#u157.mouseOver {
  opacity:0.37;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:304px;
  width:94px;
  height:18px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u159_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u159.mouseOver {
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:463px;
  top:148px;
  visibility:hidden;
}
#u161_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
  background-image:none;
}
#u161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
  text-align:center;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:433px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
  text-align:center;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:9px;
  width:21px;
  height:20px;
}
#u166_img.mouseOver {
}
#u166.mouseOver {
  opacity:0.7;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:212px;
  width:383px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u168_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:260px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u168_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:47px;
}
.u172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
.u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
.u173 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:74px;
  height:34px;
}
.u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
.u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u175 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:11px;
  width:281px;
  height:39px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u169-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
}
#u169-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:383px;
  height:50px;
}
#u169-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:383px;
  height:50px;
}
#u169-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:383px;
  height:50px;
}
#u169-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:383px;
  height:50px;
}
#u169-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:383px;
  height:50px;
}
#u169-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:383px;
  height:50px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u177 {
  position:absolute;
  left:463px;
  top:148px;
  visibility:hidden;
}
#u177_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
  background-image:none;
}
#u177_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C056A1;
  text-align:center;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:433px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C056A1;
  text-align:center;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:65px;
  width:394px;
  height:88px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:168px;
  width:55px;
  height:20px;
  font-size:18px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:198px;
  width:46px;
  height:20px;
  font-size:18px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:168px;
  width:46px;
  height:20px;
  font-size:18px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:198px;
  width:51px;
  height:20px;
  font-size:18px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C056A1;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:242px;
  width:119px;
  height:19px;
  color:#C056A1;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:239px;
  width:251px;
  height:25px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:285px;
  width:140px;
  height:25px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:10px;
  width:24px;
  height:22px;
}
#u196_img.mouseOver {
}
#u196.mouseOver {
  opacity:0.7;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:41px;
  height:19px;
  color:#C056A1;
}
#u198_img.mouseOver {
}
#u198.mouseOver {
  opacity:0.6;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:460px;
  top:148px;
  visibility:hidden;
}
#u200_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:436px;
  height:332px;
  background-image:none;
}
#u200_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:433px;
  height:332px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:115px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:13px;
  width:264px;
  height:115px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:433px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:133px;
  width:334px;
  height:139px;
  font-family:'Play Time - Demo';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:284px;
  width:140px;
  height:25px;
}
#u209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
