@font-face {
font-family: "Komika Text";
src: url("komika.ttf");
}

@font-face {
font-family: "ObelixPro";
src: url("op.ttf");
}

body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-6px;
  width:1251px;
  height:608px;
  overflow:hidden;
}
#u98_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:608px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/player_view/u98_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u98_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:53px;
  width:230px;
  height:61px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:120px;
  width:230px;
  height:53px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:243px;
  width:208px;
  height:314px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:314px;
  background-color:transparent;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:295px;
  height:101px;
  color:#FFFFFF;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:27px;
  width:323px;
  height:40px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:88px;
  height:88px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:84px;
  width:191px;
  height:78px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
  text-align:center;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:105px;
  width:140px;
  height:16px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
  text-align:center;
}
#u112_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0FBAEC;
  text-align:center;
}
#u112.mouseOver {
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:236px;
  width:298px;
  height:322px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:322px;
  background-color:transparent;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u115 {
  position:fixed;
  left:50%;
  margin-left:-283.5px;
  top:79px;
  visibility:hidden;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
  background-image:none;
}
#u115_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:432px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:28px;
  width:100px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:80px;
  width:101px;
  height:101px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text Bold', 'Komika Text';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:76px;
  width:100px;
  height:27px;
  font-family:'Komika Text Bold', 'Komika Text';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:108px;
  width:163px;
  height:27px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:134px;
  width:222px;
  height:27px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:159px;
  width:222px;
  height:27px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:212px;
  width:103px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:14px;
  width:32px;
  height:24px;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
  opacity:0.7;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:fixed;
  left:50%;
  margin-left:-232.5px;
  top:336px;
  width:465px;
  height:160px;
  overflow:hidden;
  visibility:hidden;
}
#u134_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:160px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u134_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:67px;
  height:63px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:67px;
  height:63px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:67px;
  height:63px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:67px;
  height:63px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:87px;
  width:67px;
  height:63px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:87px;
  width:67px;
  height:63px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:87px;
  width:67px;
  height:63px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:67px;
  height:63px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:177px;
  width:67px;
  height:63px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:531px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:26px;
  width:628px;
  height:531px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:258px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:126px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:70px;
  width:200px;
  height:126px;
  opacity:0;
}
#u158_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:126px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158.mouseOver {
  opacity:0.37;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:120px;
  width:60px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160.mouseOver {
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:138px;
  width:55px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u163_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u163.mouseOver {
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:159px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:70px;
  width:224px;
  height:159px;
  opacity:0;
}
#u165_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:159px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165.mouseOver {
  opacity:0.37;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:183px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:89px;
  width:103px;
  height:183px;
  opacity:0;
}
#u168_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:183px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168.mouseOver {
  opacity:0.37;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:170px;
  width:54px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u170_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u170.mouseOver {
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:134px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:233px;
  width:219px;
  height:134px;
  opacity:0;
}
#u173_img.mouseOver {
}
#u173.mouseOver {
  opacity:0.37;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:284px;
  width:70px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u175_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u175.mouseOver {
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:163px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:371px;
  width:204px;
  height:163px;
  opacity:0;
}
#u178_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:163px;
  background:inherit;
  background-color:rgba(64, 141, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178.mouseOver {
  opacity:0.37;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:441px;
  width:91px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u180_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u180.mouseOver {
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:221px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:278px;
  width:122px;
  height:221px;
  opacity:0;
}
#u183_img.mouseOver {
}
#u183.mouseOver {
  opacity:0.37;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:376px;
  width:43px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u185_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u185.mouseOver {
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:159px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:202px;
  width:220px;
  height:159px;
  opacity:0;
}
#u188_img.mouseOver {
}
#u188.mouseOver {
  opacity:0.37;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:268px;
  width:58px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u190_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u190.mouseOver {
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:169px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:365px;
  width:220px;
  height:169px;
  opacity:0;
}
#u193_img.mouseOver {
}
#u193.mouseOver {
  opacity:0.37;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:439px;
  width:95px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u195_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u195.mouseOver {
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:463px;
  top:148px;
  visibility:hidden;
}
#u197_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
  background-image:none;
}
#u197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
  text-align:center;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:433px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#C056A1;
  text-align:center;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:9px;
  width:21px;
  height:20px;
}
#u202_img.mouseOver {
}
#u202.mouseOver {
  opacity:0.7;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:212px;
  width:383px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u204_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:260px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:47px;
}
.u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
.u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
.u209 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:74px;
  height:34px;
}
.u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
.u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u211 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:5px;
  width:281px;
  height:39px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u205-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:47px;
}
#u205-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:383px;
  height:47px;
}
#u205-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:383px;
  height:47px;
}
#u205-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:383px;
  height:47px;
}
#u205-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:383px;
  height:47px;
}
#u205-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:383px;
  height:47px;
}
#u205-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:383px;
  height:47px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u213 {
  position:absolute;
  left:463px;
  top:148px;
  visibility:hidden;
}
#u213_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
  background-image:none;
}
#u213_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C056A1;
  text-align:center;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:26px;
  width:360px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C056A1;
  text-align:center;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:394px;
  height:101px;
  overflow:hidden;
}
#u218_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:101px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u218_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:104px;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:189px;
  width:276px;
  height:23px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C056A1;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:236px;
  width:119px;
  height:19px;
  color:#C056A1;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:233px;
  width:251px;
  height:25px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:281px;
  width:140px;
  height:25px;
}
#u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:10px;
  width:24px;
  height:22px;
}
#u227_img.mouseOver {
}
#u227.mouseOver {
  opacity:0.7;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:19px;
  height:19px;
  text-decoration:underline;
  color:#C056A1;
}
#u229_img.mouseOver {
}
#u229.mouseOver {
  opacity:0.6;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:460px;
  top:148px;
  visibility:hidden;
}
#u231_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:436px;
  height:332px;
  background-image:none;
}
#u231_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:332px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:433px;
  height:332px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:115px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:13px;
  width:264px;
  height:115px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:433px;
  height:16px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:133px;
  width:334px;
  height:131px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:284px;
  width:140px;
  height:25px;
}
#u240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
#u241 {
  position:absolute;
  left:468px;
  top:148px;
  visibility:hidden;
}
#u241_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:436px;
  height:265px;
  background-image:none;
}
#u241_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:265px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:433px;
  height:265px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:433px;
  height:38px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C056A1;
  text-align:center;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:107px;
  width:334px;
  height:66px;
  font-family:'Komika Text';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:205px;
  width:140px;
  height:25px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ObelixPro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C056A1;
  text-align:center;
}
